body {
    font-family: Verdana;
    font-size: 23px;
    background-color: rgb(255, 255, 255); 
    display: flex;
    justify-content: flex-start; 
    flex-direction: column; 
    align-items: flex-start; 
    color: rgba(100, 62, 177, 0.632);
    width: 100%;
    height: 100vh;
    padding: 10px; 
}

